[vgerndvud1479]
hostname:vgerndvud1479
user:linqus
sshport:22
delivery_home:/product/gemalto/install/sptsm
housekeeping:/product/gemalto/tools/housekeeping
managed_dir:/product/gemalto/wls/domain_gemalto_sptsm/servers/managed1/
[vgerndvud1659]
hostname:vgerndvud1659
user:gemapp
sshport:22
delivery_home:/opt/gemalto/install/InstallSPTSM
housekeeping:/opt/gemalto/tools/housekeeping
managed_dir:/opt/gemalto/gemapp/wls/sptsm_domain/servers/managed1/
